# .gitlab-ci.yml
image: node:latest

pages:
  cache:
    paths:
      - node_modules/
  stage: deploy
  script:
    - npm install
    - npm run build
    - mv dist public # GitLab Pages expects the output folder to be named 'public'
  artifacts:
    paths:
      - public
  only:
    - main # or master, depending on your branch name
